.DS_Store
.idea/
.vscode/
.nvm/
node_modules/
frontend/node_modules/
frontend/build/
assets/www/
build/
android/app/build/
ios/Flutter/
macos/Flutter/ephemeral/
linux/flutter/
windows/flutter/
.dart_tool/
.packages
backend/.venv/
backend/__pycache__/
*.apk
*.aab
*.iml
*.jks
android/key.properties
